

		  <div class="row">
			<div class="col-md-6 mt-2">
				<div class="group">
				  <input type="search" class="form-control" placeholder="Search......" [(ngModel)]="SearchService.searchTerm">
				</div>
			  </div>
		  </div>


		<table class="table table-striped scrollbar">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Author</th>
                    <th scope="col">Publication</th>
                    <th scope="col">Year</th>
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
					<th scope="col">Available Stock</th>
				</tr>
			</thead>
           
			<tbody>


				<tr *ngFor="let item of items$ | async">
						<td>
							<div class="btn-group" role="group" aria-label="...">
								<button  type="button" (click)="Edit(item,update)" >
								<i ngbTooltip="Edit" class="fa fa-pencil-square "></i>
								</button>
								<!-- <button type="button" (click)="delete(item.id)" >
									<i class="fa fa-trash" ></i>
								</button> -->
							</div>
						</td>
						<td>
                            <ngb-highlight [result]="item.nm" [term]="SearchService.searchTerm">
                            </ngb-highlight>
                        </td>
					<!-- <td>{{ item.nm }}</td> -->
					<td>{{ item.author }}</td>
                    <td>{{ item.publication }}</td>
					<td>{{ item.year }}</td>
                    <td>{{ item.category }}</td>
					<td>{{ item.stock }}</td>
					<td>{{ item.availableStock }}</td>
				</tr>

			</tbody>
		</table>
	


<ng-template #update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Book Update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
          class="fa fa-x-circle text-primary"></i></button>
    </div>
    <div class="modal-body p-5">
      <app-add-book [data]="this.bookdata" />
    </div>
  </ng-template>