<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-1">
                        <div class="row">
                            <div class="col-md-10">
                                <h6 class="text-white title ps-3 ">Return Details</h6>
                            </div>  
                        </div>
                    </div>
                </div>
              <div class="card-body px-3 pb-2">
                          <form [formGroup]="_frmGroupBetweenDate" (ngSubmit)="getBookIssueData()">
                            <div class="row pt-2" >
                                <div class="col-md-5  mt-2">
                                    <div class="group">
                                        <label>Start Date</label>
                                        <input type="date" required="required" class="form-control" formControlName="startdt">
                                      
                                    </div>
                                    <div class="text-danger">
                                        <div class="text-danger" *ngIf="getControlsBetweenDate['startdt'].invalid && (getControlsBetweenDate['startdt'].dirty || getControlsBetweenDate['startdt'].touched)">
                                            <div *ngIf="getControlsBetweenDate['startdt'].errors!['required']">
                                                Start Date is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5  mt-2">
                                    <div class="group">
                                        <label>End Date</label>
                                        <input type="date" required="required" class="form-control"  formControlName="enddt">
                                    </div>
                                    <div class="text-danger">
                                        <div class="text-danger" *ngIf="getControlsBetweenDate['enddt'].invalid && (getControlsBetweenDate['enddt'].dirty || getControlsBetweenDate['enddt'].touched)">
                                            <div *ngIf="getControlsBetweenDate['enddt'].errors!['required']">
                                                End Date is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-2 mt-4 ">
                                      <div class="d-grid gap-2">
                                        <button class="btn btn-primary mt-2" type="submit" [disabled]="_frmGroupBetweenDate.invalid">Save</button>
                                      </div>
                                  </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <div class="group">
                                  <input type="search" class="form-control" placeholder="Search......" [(ngModel)]="SearchService.searchTerm">
                                </div>
                              </div>
                          </div>
                
                        <table class="table table-striped scrollbar">
                            <thead>
                                <tr>
                                    <th scope="col">Member</th>
                                    <th scope="col">Book</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Return</th>
                                    <th scope="col">Return Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items$ | async">
                                    <td>
                                        <ngb-highlight [result]="item.member.nm" [term]="SearchService.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="item.book.nm" [term]="SearchService.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>{{ item.date | date : 'dd-MM-yyyy' }}</td>
                                    <td>{{ item.duedate | date : 'dd-MM-yyyy' }}</td>
                                    <td>{{item.isReturn ==false?"NO":"YES"}}</td>
                                    <td>{{item.returnDate==null?'':item.returnDate| date : 'dd-MM-yyyy' }}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
    