<div class="container-fluid py-4">
  <div class="row">
      <div class="col-12">
          <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-1">
                      <div class="row">
                          <div class="col-md-10">
                              <h6 class="text-white title ps-3 ">Book Issue</h6>
                          </div>  
                      </div>
                  </div>
              </div>
            <div class="card-body px-3 pb-2">
         <div class="p-4">
            <app-add-issue />
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    
